.App {
  text-align: center;
}

/*#headers {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}*/

table {
  border-collapse: collapse;
  width: 100%;
  height: 10%
}

thead, tr {
  width: 100%;
  height: 10%
}

td {
  height: 40px;
}

th, td {
  border-bottom: 1px solid #cdcdcd;
  text-align: left;
  font-size: 12px;
}

td.endorsee {
   font-size: 16px;
}

.endorsee_img {
  position:relative;
  z-index: 1;
  height: 90px

}

.point_key {
  background: #f0f0f0;
}

.value {
  width: 100%;
/*  background: #008fd5df;
*/  color: white;
  font-size: 14px;
}

.line {
  width: 100%;
height: 47px;
  border-bottom: 1px solid lightgrey;
  position: absolute;
  z-index: 0;
}

.table tr:first-child th {
    border-bottom: 2px solid black
}
#charts {
  display: inline-block;
  margin-right:60px;
/*  width: 30%;
*/}
#tables {
  display: inline-block;
  margin-left:auto;
/*background-color: powderblue;
*/position: relative;
  width: 670px;
  height: 430px;


}

.points {
  width: 20px;
  height: 20px;
  background-color: lightblue;
  padding: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 7px;
  padding-left: 7px;
}
button {
  border: 1px solid #3c3c3c;
  cursor: pointer;
  padding: 10px;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 12px;
}

button:hover {
  background-color: #3c3c3c; /* Green */
  color: white;
}


tr:last-child td {
    border-bottom: none;
}
